@font-face {
  font-family: "Regattia";
  src: url("./regattia-bold-webfont.woff2") format("woff2"), url("./regattia-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Regattia";
}

.home {
  color: white;
  background-color: black;
  width: 100px;
  height: 100px;
}
