@font-face {
  font-family: "Regattia";
  src: url("./regattia-bold-webfont.woff2") format("woff2"), url("./regattia-bold-webfont.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  background: #18171c;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Header ______________________________________________________________________________________ */
.header {
  background: #18171c;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_list_item {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
}

.header_list_item:hover {
  color: orange;
  cursor: pointer;
}

.header_list_item-active {
  border-bottom: 1px solid white;
}

/* Content ______________________________________________________________________________________ */
.content {
  background: gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Inner Content container */
.content_container_inner {
  background: #18171c;
  min-width: 100%;
  min-height: 500px;
  padding: 10px;
  display: flex; /* Important */
  flex-direction: column;
  align-items: center;
}

.content_header {
  font-family: "Regattia";
  font-size: 50px;
  text-align: center;
  margin: 10px;
}

.content_main {
  text-align: center;
  width: 400px;
}

.content_main h3 {
  font-family: "Regattia";
  text-align: center;
  margin: 10px;
}

/* Content container for home ______________________________________________________________________________________ */

.home_content_container {
  display: none;
}

#home_container_inner {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  grid-template-areas:
    "header header"
    "content1 image1"
    "content2 image1"
    "location location";
}

#home_header {
  grid-area: header;
}

#home_intro {
  grid-area: content1;
}

#image_one {
  background-image: url(/src/restaurant.jpg);
  background-size: cover;
  grid-area: image1;
  min-width: 500px;
  min-height: 700px;
}

#home_hours {
  grid-area: content2;
}

#home_location {
  grid-area: location;
  width: auto;
}

/* Content container Content for menu ______________________________________________________________________________________ */
.menu_content_container {
  display: none;
}

.menu_content_submenu_container {
  background: gray;
  min-width: 400px;
  min-height: 400px;
  border-radius: 10px;
  margin: 10px;
}

.menu_content_submenu_container h3 {
  font-family: "Regattia";
  font-size: 35px;
  text-align: center;
  margin: 10px;
}

.food-drink_container {
  text-align: center;
  background: #18171c;
  width: 400px;
  min-height: 400px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.food-drink_name {
  font-family: "Regattia";
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.food-drink_image {
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin: 10px;
}

/* Content container Content for contact ______________________________________________________________________________________ */
.contact_content_container {
  display: none;
}

/* #contact_content_inner {
} */

.contact_content_profile_container {
  min-width: 500px;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact_content_profile_card {
  background: gray;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_content_profile_card p {
  text-align: center;
}

.contact_content_profile_card_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}

.contact_content_profile_card_name {
  font-family: "Regattia";
  font-size: 25px;
  margin: 10x;
}

#profile_dipper {
  background: url(./dipper.png);
  background-size: cover;
}

#profile_wendy {
  background: url(./wendy.png);
  background-size: cover;
}

#profile_mabel {
  background: url(./mabel.png);
  background-size: contain;
}

/* Footer ______________________________________________________________________________________ */
.footer {
  background: #18171c;
  width: 100%;
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_list li {
  display: inline;
}

.footer_list_item {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: white;
}

.footer_list_item:hover {
  color: orange;
  cursor: pointer;
}

/* Media queries*/
@media all and (max-width: 768px) {
  #home_container_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #home_header {
    font-size: 45px;
  }

  #image_one {
    min-width: 400px;
    min-height: 600px;
  }

  .footer_list_item {
    font-size: 10px;
    font-weight: 400;
  }
}
