@font-face {
  font-family: "Regattia";
  src: url("./regattia-bold-webfont.woff2") format("woff2"), url("./regattia-bold-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: gray;
}

.main {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;

  background-color: black;
  width: 100px;
  height: 100px;
}
